@import "@styles/base/variables.scss";
@import "@styles/base/mixins.scss";

.cookieConsentContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 2.4rem;
  color: $light-text-color;
  background-color: $cookie-background-color;

  > div:first-child {
    margin-bottom: 1.6rem;
    text-align: center;
  }

  @media ($bp-sm) {
    flex-direction: row;

    > div:first-child {
      margin-right: 1.6rem;
      margin-bottom: 0;
      text-align: left;
    }
  }

  .cookieConsentButtonWrapper {
    display: flex;

    .cookieConsentButton {
      min-width: fit-content;
      margin-bottom: 0;
    }

    .cookieConsentDeclineButton {
      margin-right: 2.4rem;
      margin-bottom: 0;
    }
  }
}
