.matchMeContainer {
    width: 173px;
    border-radius: 10px;
    padding: 12px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    transition: all 0s ease;
    cursor: pointer;
    color: black;

    .image {
        width: 33px;
        height: 29px;
    }

    .title {
        font-size: 14px;
        text-align: center;
        line-height: 16px;
        font-weight: 800;
        max-width: 120px;
    }

    .content {
        font-size: 12px;
        display: none;
        text-align: center;
    }

    .matchmeButton {
        background: linear-gradient(236deg, #6D00CC 0%, #E657FF 100%) 0% 0% no-repeat padding-box;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 4px;
        color: white;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0px;
        display: none;
        line-height: 14px;
        margin: 0px;
    }

    &:hover {
        flex-direction: column;
        padding: 23px 16px 16px 16px;


        .image {
            width: 71px;
            height: 64px;
        }

        .title {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            margin-top: 10px;
        }

        .content {
            display: block;
            margin-top: 10px;
        }

        .matchmeButton {
            display: block;
            margin-top: 10px;
        }
    }

}