@import "@styles/base/variables.scss";
@import "@styles/base/mixins.scss";

.breadcrumbContainer {
  padding-bottom: 0;

  .link {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #9e9da9;
  }
}
